@using Microsoft.AspNetCore.Http
@{
    ViewData["Title"] = "Welcome to Sessional Management";
    string name = @Context.Session.GetString("Name");
}

<h2>Welcome to Sessional Management System- @name</h2>
<p>
    LETSS GOOO.
</p>
